.homepage {
  padding: 20px 80px;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
}

.directory-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.menu-item{
  height: 240px;
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  flex: 1 1 auto;
  //flex-grow: 1;
  //flex-shrink: 1;
  //flex-basis: auto;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    border: 1px solid black;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      color: #4a4a4a;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 6px;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
